<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "styles.css">
</head>
<body>
    <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="mars_news">
        <div class="col-md-12">
            <h3 class="heading">Latest Mars News</h3>
            <h4>{{mars_data.news_title}}</h4>
            <p>{{mars_data.news_p}}</p>
        </div>
    </div>
    <div class="row" id="featured_image">
        
        <div class="col-md-8">
            <h3 class="heading">Featured Mars Image</h3> 
            <img src="{{mars_data.featured_image_url}}" alt="featured_mars_image" style= "width: 100%;">
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class = "card-title">Current Weather on Mars</h5>  
                    <p class = "card-text">{{mars_data.mars_weather}}</p>
                </div>  
            </div>  
        </div>
    <br>
        <div class="col-md-4">
                <h4 class="heading">Mars Facts</h4>  
                <p>{{mars_data.html_mars | safe}}</p>
        </div>
    </div>
    <br>
    <hr>
    </div>
    <div class="container">
        <div class="row" id="hemisphere_title">   
            <h3>Mars Hemispheres</h3>
            <hr>
        </div>
    <div class="row" id="hemisphere">
        
       <div class="col-lg-6 col-md-6 col-sm-12">
           <div class="card">
                <img class="card-img-top" src="{{mars_data.hemisphere_image_urls[0].img_url}}" alt="hemisphere" style="width:100%;">  
                <p class="card-footer">{{mars_data.hemisphere_image_urls[0].title}}</p>
            </div>
        </div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <div class ="card">
                    <img class = "card-img-top" src="{{mars_data.hemisphere_image_urls[1].img_url}}" alt="hemisphere" style="width:100%;">   
                    <p class="card-footer">{{mars_data.hemisphere_image_urls[1].title}}</p>
                </div>
            </div>
        </div>
    <div class="row" id="hemisphere">
            <div class = "col-lg-6 col-md-6 col-sm-12"">
                 <div class = "card">
                    <img class = "card-img-top" src="{{mars_data.hemisphere_image_urls[2].img_url}}" alt="hemisphere" style="width:100%;">   
                    <p class="card-footer">{{mars_data.hemisphere_image_urls[2].title}}</p>
                </div>
            </div>
  
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                 <img src="{{mars_data.hemisphere_image_urls[3].img_url}}" alt="hemisphere" style="width:100%;">   
                 <p class="card-footer">{{mars_data.hemisphere_image_urls[3].title}}</p>
             </div>
            </div>
    </div>
    </div>
    <hr>
  </div>
</body>

</html>

